@include small-screen {
    .home {
        &-content {
            //    padding-top: 120px;
            width: 100% !important;
        }
    }
    .layout-pad {
        padding: 7% 5%;
    }
    .connect {
        .card {
            height: 290px !important;
        }
        &-content {
            padding: 0 2% !important;
        }
    }
    .partners {
        h2 {
            padding-top: 6vh;
            padding-bottom: 2vh;
        }
        .p-text {
            padding-top: 3vh !important;
            padding-bottom: 1vh !important;
        }
    }
    .stats {
        span {
            font-size: 42px !important;
            // font-weight: 300;
            line-height: 50px !important;
        }
        p {
            font-size: 20px !important;
        }
    }
}