// Footer
footer {
    background-color: $primary-dark;
    color: #9B9B9B;
    padding: 10% 0;
    h4,
    h5 {
        text-transform: capitalize;
        color: $primary-white;
    }
    li {
        list-style: none;
        font-size: 12px;
        // font-weight: 500;
        // line-height: 15px;
        a {
            color: $primary-white;
        }
    }
    .pad-copyright {
        padding-top: 10%;
    }
    hr {
        width: 50%;
        margin-left: 0;
    }
    .width-50 {
        width: 30% !important;
        margin-bottom: 20%;
    }
}